@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
